.text-grey{
  color: gray;
}
.navbar-brand {
  span {
    vertical-align: super;
    color: gray;
  }
}
.fa-search{
  position: absolute;
  margin: {
    left: 10px;
    right: 8px;
  };
  color: gray;
}
